@font-face {
    font-family: "HLVT_NT";
    src: url("../fonts/HelveticaNowText-Regular.woff2"), format("woff2");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "HLVT_NT";
    src: url("../fonts/HelveticaNowText-Medium.woff"), format("woff");
    font-style: normal;
    font-weight: 500;
  }
  
  @font-face {
    font-family: "HLVT_NT";
    src: url("../fonts/HelveticaNowText-Bold.woff2"), format("woff2");
    font-style: normal;
    font-weight: 700;
  }