@import "./common.css";

#login-view {
  background: var(--primary-background);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.sign-in-button-container {
  display: flex;
  align-items: center;
  
  height: 40px;
  width: 205px;

  margin-top: 16px;

  position: relative;
}

#sign-in-button {
  background: var(--spotify-ui-green);
  border: none;
  border-radius: 24px;
  color: var(--primary-foreground);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 400;

  height: 100%;
  width: 100%;

  position: relative;

  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              opacity .2s linear, background .2s linear;
}

#sign-in-button:disabled {
  background: var(--secondary-background);
  opacity: .6;
}

#sign-in-button img {
  height: 21px;
  object-fit: contain;
  position: absolute;
  left: 10px;
}

.login-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-view p {
  font-size: 14px;
  font-weight: 500;
}

#login-view-loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 10px;
  top: 0;

  height: 100%;
  width: 24px;
  pointer-events: none;
  overflow: hidden;
}

#login-view-loading-indicator .loader,
#login-view-loading-indicator .loader:after {
  display: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
