@import "./common.css";

#bottom-nav {
  background: var(--primary-background);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#player-controls {
  display: flex;
  align-items: center;
  height: 40px;
}

#player-skip-back,
#player-skip-forward {
  opacity: 0.75;
  transition: opacity 0.15s linear;
}

#player-skip-back:hover,
#player-skip-forward:hover {
  opacity: 1;
}

#player-skip-back,
#player-skip-forward,
#player-playback-state button {
  transition: transform 0.2s linear;
}

#player-skip-back:active,
#player-skip-forward:active,
#player-playback-state button:active {
  transform: scale(0.85);
}

#player-controls button,
#player-playback-state {
  padding: 0;

  height: 100%;
  width: 40px;
}

#player-playback-state {
  position: relative;
  margin: 0 8px;
}

#player-playback-state button {
  background: #fff;
  border-radius: 24px;

  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s linear, background 0.15s linear;
}

#player-playback-state button:hover svg {
  transform: scale(1.1);
}

#player-playback-state button svg path {
  fill: #000;
  transition: fill 0.15s linear;
}

#player-playback-state button:disabled {
  background: none;
  border: 1px solid var(--secondary-background);
  opacity: 1;
}

#player-playback-state button:disabled svg path {
  fill: #fff;
  opacity: 0.5;
}

#player-playback-state button svg {
  transition: transform 0.2s linear;
}

#player-pause-button {
  display: none;
}

#player-shuffle-button,
#player-repeat-button {
  position: relative;
}

.shuffle-off svg path {
  fill: #ffffff;
}

.shuffle-on svg path {
  fill: var(--brand-primary-color);
}

.shuffle-on::after,
.repeat-on::after {
  content: "";
  background: var(--brand-primary-color);
  border-radius: 50%;
  height: 3px;
  width: 3px;
  position: absolute;
  bottom: 4px;
  left: 50%;
}

#player-loading-indicator {
  display: none;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;
}

#player-loading-indicator .loader,
#player-loading-indicator .loader:after {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
