@import "./common.css";

#header {
  padding: 0 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 84px;
  transform: translate3d(0, 0, 0);
  will-change: max-height;
}

#now-playing {
  display: flex;
  align-items: center;
}

#now-playing-inner {
  display: flex;
  height: 64px;
}

#now-playing-cover {
  border-radius: 10px;
  overflow: hidden;

  position: relative;

  height: 100%;
  width: 64px;
}

#now-playing-img {
  object-fit: cover;

  height: 100%;
  width: 100%;
}

#now-playing-info {
  margin-left: 12px;
  margin-top: 4px;
}

#title,
#owner {
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.1;
}

#title {
  color: var(--primary-foreground);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4px;
}

#owner-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

#explicit-tag {
  display: none;
  margin-right: 4px;
  margin-top: -1px;
}

#owner {
  color: var(--secondary-foreground);
  font-size: 0.75rem;
  line-height: 0.92;
}

#now-playing .content-fade {
  width: 110px;

  margin-right: -10px;
}

#now-playing-actions-wrapper {
  display: flex;
  align-items: center;

  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;

  padding: 0 12px;
  overflow: hidden;
}

#player-toggle-like-button {
  height: 36px;
  width: 36px;

  margin-right: 8px;
}

.like-active svg path {
  stroke: var(--brand-primary-color);
  fill: var(--brand-primary-color);
}

.like-inactive svg path {
  stroke: var(--primary-foreground);
  fill: "none";
}

#now-playing-indicator {
  display: none;
}

#now-playing-status {
  color: var(--brand-primary-color);
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 8%;
  margin-bottom: 2px;
}
