@import "./common.css";

.profile-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;
}

#profile-info {
  display: flex;
  align-items: center;

  height: 64px;
}

#profile-view .profile-cover {
  background: #ff6436;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12px;

  height: 44px;
  width: 44px;

  overflow: hidden;
  position: relative;
}

#profile-view .profile-cover img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.profile-name-initials {
  color: var(--primary-background);

  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;

  position: absolute;
}

#profile-name {
  color: var(--primary-foreground);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;

  margin-bottom: 4px;
}

#open-profile-button {
  color: var(--secondary-foreground);
  font-size: 12px;
  line-height: 1.1;
  padding: 0;
  text-decoration: none;

  transition: color 0.2s linear;
}

.disabled-link {
  opacity: .6;
  pointer-events: none;
}

#open-profile-button svg {
  margin-left: -3px;
  margin-top: 1px;
  stroke: var(--secondary-foreground);
}

#open-profile-button:hover {
  color: var(--primary-foreground);
}

#open-profile-button:hover svg {
  stroke: var(--primary-foreground);
}

#sign-out-button {
  border: 1px solid var(--secondary-background);
  border-radius: 24px;
  color: var(--secondary-foreground);

  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;

  padding: 7px 16px;

  transition: background 0.25s linear;
}

#sign-out-button:hover {
  background: var(--secondary-background);
  color: var(--primary-foreground);
}

#sign-out-button:disabled {
  background: var(--secondary-background);
}

#close-profile-view {
  height: 44px;

  padding: 0 16px;

  position: absolute;
  right: 0;
  top: 0;
}
